body {
    background-image: url(Obrazky/peliskyPozadi.jpg);
    background-size: 120%;
    background-attachment: fixed;
    background-position-x: right;
    margin: 0;
}

.hlavniPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: auto;
    background-color: #dfdbcf;
    padding: 2vw;
    box-shadow: inset 0 0.5vw 1vw black;
}

.hlavniPage h2 {
    font-weight: 400;
    text-align: center;
    font-family: Mina, Arial;
    font-size: 2vw;
    color: #cd5127;
    text-shadow: #e8ae5c 0.15vw 0.15vw;
}

#hlavniLogo {
    width: 40%;
    margin-bottom: 1vw;
    margin-top: -10vw;
    transition: transform 0.5s;
}
#hlavniLogo:hover {
    transform: scale(1.05);
}

.trailer {
    margin-top: 4vw;
    background-color: #cd5127;
    border: solid #e8ae5c 0.5vw;
    border-radius: 1vw;
    padding: 2vw;
    transition: transform 0.5s, box-shadow 0.5s;
}
.trailer:hover {
    transform: scale(1.05);
    box-shadow: 0 0 1vw black;
}

.trailer h2 {
    color: white;
    font-weight: 900;
    font-size: 2.5vw;
}



nav {
    background-color: #e8ae5c;
    display: flex;
    align-items: center;
    margin: 0;
}

nav img {
    height: 2.25em;
    padding: 0.5vw;
}
nav a {
    padding: 1vw;
    color: #cd5127;
    font-family: Mina, Arial;
    font-weight: 900;
    font-size: 1.5vw;
    transition: background-color 0.5s, font-size 0.5s;
}
nav a:has(img) {    
    padding: 0 1vw;
}
nav:hover a{
    font-size: 1.6vw;
}
nav a:hover {
    background-color: #f8be6c;
}
nav a.active {
    background-color: #e49746;
}