body {
    background-image: url(Obrazky/peliskyPozadi.jpg);
    background-size: 120%;
    background-attachment: fixed;
    background-position-x: right;
    margin: 0;
}

.hlavniPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: auto;
    background-color: #dfdbcf;
    padding: 2vw;
}

.hlavniPage h2 {
    font-weight: 400;
    text-align: center;
    font-family: Mina, Arial;
    font-size: 2vw;
    color: #cd5127;
    text-shadow: #e8ae5c 0.15vw 0.15vw;
}

#hlavniLogo {
    width: 50%;
    border-bottom: solid #cd5127 0.2vw;
    margin-bottom: 2vw;
}

.trailer {
    margin-top: 4vw;
    background-color: #cd5127;
    border: solid #e8ae5c 0.5vw;
    border-radius: 1vw;
    padding: 2vw;
}

.trailer h2 {
    color: white;
    font-weight: 900;
    font-size: 2.5vw;
}
